{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block body%}
<center>
  <img src="https://curtana.glitch.me/static/logo.png" alt="Curtana FW" height="255"
    style="border-radius: 10px;" />
  <p></p>
  <h1>
    <a href="https://justaprudev.github.io/curtana"><span class="red">curtana</span></a><span
      style="color: white;">.</span><a href="https://glitch.me/"><span style="color: hsl(253, 100%, 75%);">glitch<span
          style="color: white;">.</span>me</span></a>
  </h1>
  <h2>
    All your favourite custom firmware in one place.
  </h2>
  <h3>
    Developed & Maintained by
    <a href="https://justaprudev.github.io">
      <span class="red">Priyam Kalra</span>
    </a>
  </h3>
</center> 
<hr style="background: #181a1b;">

<div class="background-card">
  <div class="container">
    <div>
      <div style="margin-left: 16%;">
        <span class="red" style="font-size: 135%;">[{{len(roms)}}]</span>
        <h1>ROMs</h1>
      </div>
      <p></p>
      {% set latest_release = roms[0] %}
      {{ roms.sort() or '' }}
      <ul class="lead">
        {% for rom in roms %}
        <li style="color: {{get_random_color()}};">
          <a href="https://curtana.glitch.me/rom/{{rom.lower()}}">
        {% if rom == latest_release %}
            <span class="red">{{rom}}</span>
        {% else %}
            <span style="color: white;">{{rom}}</span>
        {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div style="margin-left: -2%;"></div>
    <div>
      <div style="margin-left: 18%;">
        <span class="red" style="font-size: 135%;">[{{len(kernels)}}]</span>
        <h1>Kernels</h1>
      </div>
      <p></p>
      {% set latest_release = kernels[0] %}
      {{ kernels.sort() or ''}}
      <ul class="lead">
        {% for kernel in kernels %}
        <li style="color: {{get_random_color()}};">
          <a href="https://curtana.glitch.me/kernel/{{kernel.lower()}}">
        {% if kernel == latest_release %}
            <span class="red">{{kernel}}</span>
        {% else %}
            <span style="color: white;">{{kernel}}</span>
        {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div style="margin-left: 2%;"></div>
    <div>
      <div style="margin-left: 18%;">
        <span class="red" style="font-size: 135%;">[{{len(recoveries)}}]</span>
        <h1>Recoveries</h1>
      </div>
      <p></p>
      {% set latest_release = recoveries[0] %}
      {{ recoveries.sort() or ''}}
      <ul class="lead">
        {% for recovery in recoveries %}
        <li style="color: {{get_random_color()}};">
          <a href="https://curtana.glitch.me/recovery/{{recovery.lower()}}">
        {% if recovery == latest_release %}
            <span class="red">{{recovery}}</span>
        {% else %}
            <span style="color: white;">{{recovery}}</span>
        {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<br>
<center>
  <h4>Last updated: {{date}}</h4>
</center>
{%endblock%}