body {
  background-color: black !important;
}

a {
  color: #4285f4;
}

img {
  border-radius: 30px;
}

li {
  list-style-type: none;
}

li:before {
  content: '• ';
}

.jumbotron {
  background-color: black !important;
  color: white;
}

.display-4 {
  color: #fd3333;
}

.redify {
  color: #fd3333;
}

.pixify {
  color: #4285f4;
}

.card {
	border-color: rgba(140, 130, 115, 0.13);
	background-color: rgb(44, 47, 49) !important;
	width: 20rem;
}
